<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/podcasts/<%=podcast.id%>/edit" method="POST">
        <input type="text" name="title" id="" placeholder="enter title" value="<%=podcast.title%>"> <br><br>
        <input type="text" name="artists" id="" placeholder="enter artists" value="<%=podcast.artists%>"><br><br>
        <input type="text" name="song" id="" placeholder="enter song" value="<%=podcast.song%>"><br><br>
        <!-- <input type="text" name="podcastPlan" id="" placeholder="enter podcastPlan "><br><br> -->
        <select name="podcastPlan" value="<%=podcast.podcastPlan%>" id="">
            <option value="free">free</option>
            <option value="Vip">Vip</option>
            <option value="Primeum">Primeum</option>
        </select>
         <button type="submit">Edit Podcast</button>
    </form>
</body>
</html>