<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a44f9b07be.js" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Product page</title>
</head>
<body> 
    <header>
        <a href="/"><strong>AJIO</strong></a>
        <nav>
            <h4>Hi <%=user.Name%></h4>
            <% if(isAdmin){%>
                <a href="/users/logout"> Logout</a>
                    <a href="/users">Users</a>
               <% } else { %>
                <a href="/product/userWishList"><i class="fas icon fa-heart"></i></a>
                <a href="/product/cartList"><i class="fas icon fa-shopping-cart"></i></a>
                <a href="/users/logout">Logout</a>
                
               <% } %>
           
        </nav>
      </header>
  
      <!-- <% if(isAdmin){%>
        <a href="/users/logout"><button> Logout</button></a>
            <a href="/users"><button>Users</button></a>
       <% } else { %>
        <a href="/users/logout"><button>Logout</button></a>
       <% } %> -->

    <section class="products">
        <%products.forEach((product) => { %>
            <div class="product"> 
                <img src="/uploads/<%=product.image%>" alt="img" width="280px">
                <p> Name : <%=product.title%></p>
                <p> Qty : <%=product.quantity%></p>
                <p> Price : <small class="black"><%=product.price%> Rs</small></p>
                <p> Likes : <small><%=product.likes%></small></p>

                <% if(isAdmin){ %>
                    <a href="/product/<%=product.id%>/edit"><button class="editbtn"> <i class="fas fa-user-edit"></i> EDIT</button></a>
                    <a href="/product/<%=product.id%>/delete"><button class="editbtn"><i class="fas fa-trash"></i></button></a>
                    
                <% } else if ( isAdmin == false ) { %>
                
                <a href="/product/<%=product.id%>/likes"><button><i class="fas fa-thumbs-up"></i></button></a>
                <a href="/product/<%=product.id%>/dislikes"><button><i class="fas fa-thumbs-down"></i></button></a>
                <a href="/product/<%=product.id%>/wishlist"><button style="margin-left: -10px;"> <i class="fas fa-heart"></i> </button></a>
                <a href="/product/<%=product.id%>/addCart"><button style="margin-left: 10px;"><i class="fas fa-shopping-cart"></i></button></a>
               
            
        <%}%> 
    </div>
      <%})%>
    </section>
      
</body>
</html>